<mat-card *ngIf="isCardDisplayed(plant)" class="card">
    <mat-card-header>
        <mat-card-title>{{ plant.name }}</mat-card-title>
        <mat-card-subtitle>{{ plant.subname }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ plant.image_url }}" alt="Photo of a {{ plant.name }}">
    <mat-card-content>
        <p>
            {{ plant.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!isPlantWatered(plant)" mat-button color="primary" (click)="watering(plant)">ARROSER</button>
    </mat-card-actions>
</mat-card>