.actions {
  display: flex;
  margin: 82px 25px 32px;
  padding: 0 16px;
  max-width: 300px;
  justify-content: space-between;
}

.carousel {
  margin: 82px auto 32px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  max-width: 90%;
}